<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    p{

    font:100px solid pink
   }
   body{
   background-color:grey}

   a{
   font:75px solid pink
   }
</style>

</head>
<body>
<div class="limiter" >

   {% csrf_token %}

    <p style="font-color:white">Congratulations {{yourloginid}} your password has been reset please click the below link to login</p>

    <a href="login">Login</a>



     </div>



</body>
</html>