<!DOCTYPE html>
<html lang="en">
{% extends 'loginapp/index.html'%}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

    </style>
</head>
<body>
<div class="limiter" >
    <div class="container-login100" >
			<div class="wrap-login100 p-t-30 p-b-50">


    {% block content %}


    <form action="" method="POST"  class="login100-form validate-form p-b-33 p-t-5">


    {% csrf_token %}
        {{form}}

        <div><button class="login100-form-btn" type="submit">Submit</button></div>
     </form>
                    </div>
    {% endblock %}


     </div>
          </div>

    </div>



</body>
</html>